extends layout

block content
  h1 Add new category
  form(method='POST' action='')
    div.form-group.boxed
      label(for='name') Name
      input#name.boxed(type='text' name='name' required='true' value=(category===undefined ? '' : category.name))
    button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
