extends layout

block content
  main
    p Category: All
    ul
      each stick in sticks
        li 
          div
            a(href=stick.url) #{stick.name}
            | 
            | $#{stick.price}
      else
        | No sticks in inventory.
