extends layout

block content
  p Are you sure you want to delete the stick "#{stick.name}"?
  form(method='POST' action='')
    input(type='hidden' name='stickId' required='true' value=stick._id)
    button(type='submit') Yes, delete it
  a(href=stick.url) No, keep it
