html,
body {
  margin: 0;
  padding: 0;
}

body {
  font:
    1rem 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 25%;
  box-shadow: 0px 5px 5px hsl(0 0% 0% / 0.15);

  & > span {
    font-size: 2rem;
  }

  & a {
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 10px;

    &:hover {
      background-color: hsl(0 0% 0% / 0.1);
    }
  }
}

a {
  color: #00b7ff;
  text-decoration: none;
}

main {
  max-width: 50%;
  padding-top: 2rem;
  margin: 0 auto;
}

.boxed {
  display: flex;
  padding: 1.5rem;
  box-shadow: 0 4px 10px hsl(0 0% 0% / 0.15);
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

a.boxed:hover {
  box-shadow: 0 4px 10px hsl(0 0% 0% / 0.5);
}

.stick-details {
  display: flex;
  padding: 1.5rem;

  & h2 a:hover {
    text-decoration: underline;
  }
}

.update-delete-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  column-gap: 1.5rem;

  & a {
    display: block;
    color: white;
    font-size: 1rem;
    width: 30%;
    text-align: center;

    &:nth-child(1) {
      background-color: hsl(200 100% 60%);
    }

    &:nth-child(2) {
      background-color: hsl(0 100% 60%);
    }
  }
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

.delete-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  column-gap: 1.5rem;

  & button,
  a {
    display: block;
    font-size: 1rem;
    width: 30%;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0 4px 10px hsl(0 0% 0% / 0.15);
  }
}

.delete-form h1 {
  text-align: center !important;
}

select,
input[type='text'],
input[type='number'] {
  border: none;
  font-size: 1.3rem;
  padding: 1rem !important;
}

button[type='submit'] {
  width: 100%;
  background-color: hsl(120 100% 75%);
  border: none;
  box-shadow: 0 4px 10px hsl(0 0% 0% / 0.15);
  padding: 1.5rem;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  font-size: 1.5rem;

  &:hover {
    box-shadow: 0 4px 10px hsl(0 0% 0% / 0.5);
  }
}

form .image-selection {
  & img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    border-radius: calc(1.5rem - 10px);
    background-color: hsl(0 0% 0% / 0.1);
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

.item {
  justify-content: space-between;
  align-items: center;
  color: black;

  & img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    border-radius: calc(1.5rem - 10px);
    background-color: hsl(0 0% 0% / 0.1);
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .stick-price {
    font-size: 2rem;

    &::before {
      content: '$';
      color: green;
    }
  }
}

.stick-description {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

ul {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
}

li {
  margin-bottom: 0.8rem;
}
